# Configurazione RPC
RPC_USER=user
RPC_PASSWORD=password
RPC_HOST=127.0.0.1
RPC_PORT=8332

# Configurazione Wallet
WALLET_ADDRESS=bitcoin_address

# Parametri Mining
DIFFICULTY_FACTOR=1
NONCE_MODE=incremental
TIMESTAMP_UPDATE_INTERVAL=30

# Messaggio Coinbase
COINBASE_MESSAGE=/Ciao sono Davide/

# Configurazione Worker
NUM_PROCESSORS=0
