# Configurazione RPC
RPC_USER=user
RPC_PASSWORD=password
RPC_HOST=127.0.0.1
RPC_PORT=8332

# Configurazione Wallet
WALLET_ADDRESS=bitcoin_address

# Parametri Mining
DIFFICULTY_FACTOR=1
NONCE_MODE=incremental
TIMESTAMP_UPDATE_INTERVAL=30
BATCH=10000

# Messaggio Coinbase ed Extranonce
COINBASE_MESSAGE=/Ciao sono Davide/
EXTRANONCE1=1234567890abcdef
EXTRANONCE2=12341234

# Configurazione Worker
NUM_PROCESSORS=0
